.shopPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--tertiary-color);
  padding: 16px 24px;
  gap: 6.5px;
  width: 99vw;
  max-width: 1800px;
}
.card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  box-shadow: var(--shadow-on-white);
}

.manageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  gap: 4px;
}

.item img {
  height: auto;
  justify-self: center;
  height: 220px;
  padding-bottom: 5px;
}

.item {
  height: 320px;
}

.manageItem svg {
  width: 2em;
  height: 2em;
}
.manageItem div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 1.6em;
}

.manageItem div button {
  width: fit-content;
  height: fit-content;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  box-shadow: var(--shadow-on-white);
}

.manageItem div input {
  width: 32px;
  text-align: center;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
}

.manageItem div input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.manageItem > button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  width: 80%;
  padding: 4px 8px;
  box-shadow: var(--shadow-on-white);
  font-weight: 600;
}
.itemInfos {
  font-size: 1rem;
}
.price {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
}

.loading {
  font-size: 1.5rem;
  height: 100vh;
  width: 96vw;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  composes: loading;
  padding: 16px;
  font-size: 1.2rem;
}
@media (max-width: 700px) {
  .shopPage {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 4px;
  }

  .item img {
    height: 100px;
  }

  .item {
    height: 220px;
  }
  .manageItem div {
    width: 90%;
    gap: 4px;
  }
  .manageItem > button {
    width: 90%;
  }

  .itemInfos {
    font-size: 13px;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .shopPage {
    grid-template-columns: repeat(3, 1fr);
    padding: 8px;
    gap: 3px;
  }

  .item {
    height: 320px;
  }
  .item img {
    max-height: 200px;
  }
}

@media (min-width: 1800px) {
  .shopPage {
    padding: 16px 0;
  }
}
